html, body, h3 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

header {
  padding: 2em;
}

header, aside {
  background-color: rgba(180, 220, 255, 0.5);
}

h1, .tag {
  color: #47a;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: .2em;
}

.no {
  background-color: #47a;
  color: #fff;
  font-size: 3em;
  width: 1.2em;
  text-align: right;
  padding: .2em;
}

article {
  padding: 1em;
}

aside h3 {
  background-color: #47a;
  padding: 2em;
  color: #fff;
  text-align: center;
}

aside a {
  text-decoration: none;
  padding: 2em 0;
  display: block;
}

aside a:hover {
  background-color: #47a;
  color: #fff;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #eee;
  padding: 2em;
}

@media screen and (min-width:999px){
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "head head"
      "ne ne"
      "to tre"
      "fire fem"
      "seks syv"
      "img otte"
      "img ni"
      "aside ti"
      "foot foot";
}}

  .img {
    background-image: url('img/suicide2.jpg');
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    grid-area: img;
  }

  header {
    grid-area: head;
  }

  .en {
    grid-area: ne;
  }

  .to {
    grid-area: to;
  }

  .tre {
    grid-area: tre;
  }

  .fire {
    grid-area: fire;
  }

  .fem {
    grid-area: fem;
  }

  .seks {
    grid-area: seks;
  }

  .syv {
    grid-area: syv;
  }

  .otte {
    grid-area: otte;
  }

  .ni {
    grid-area: ni;
  }

  .ti {
    grid-area: ti;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: foot;

    display: grid;
    grid-template-columns: 1fr auto;
  }
} 
@media screen and (min-width: 1px){
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "head head head"
      "to ne ne "
      "to tre tre "
      "seks fem fem"
      "seks img img"
      "syv img img"
      "syv otte otte"
      "ni ni aside"
      "ti ti aside"
      "foot foot foot";
  }}
